.task {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

p {
  margin: 0 20px;
  text-decoration: line-through;
}

.done {
  text-decoration: none;
}

button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

